
.aa{
    color: blueviolet;
    font-style: italic;
    font-family: Cambria, Cochin;
}
.bb{
    background: rgba(255, 150, 13, 0.705);
}
input:focus{
    font-weight: 600;
    font-size: 20px;
    color: crimson;

}
li:first-child{
    background-color: rgba(0, 255, 255, 0.527);
    font-family: Verdana, Geneva;
}
li:last-child{
    background-color: rgba(153, 50, 204, 0.568);
}
li:nth-child(2n){
    background-color: rgba(255, 20, 145, 0.527);
}

/* pseudo element */
h2::before{
    content: "Hello";
    color: blueviolet;
    font-size: 10px;
    background-color: rgba(0, 255, 255, 0.658);
} 

/* pseudo class = special-effect */
.special-effect::after{
    content:"Buy";
    color: cyan;
    font-size: 12px;
    background-color: rgba(153, 50, 204, 0.699);
}

body {
    /* Set "my-sec-counter" to 0 */
    counter-reset: my-sec-counter;
  }
  
  p::before {
    /* Increment "my-sec-counter" by 1 */
    counter-increment: my-sec-counter;
    content: "leather" counter(my-sec-counter) ". ";
    background-color: rgba(217, 255, 0, 0.74);
  }
  h3::before{
      content: "📌"; /* adding emoji*/
  }